@import '../globalMediaQueries';

.cartContainer {
  display: flex;
  padding: 150px 120px;
  gap: 32px;
  min-height: 72vh;

  @media screen and (max-width: $mobile) {
    margin-top: 80px;
    padding: 24px;
    flex-direction: column;
  }

  .cartOverviewContainer {
    width: 70%;

    @media screen and (max-width: $mobile) {
      width: 100%;
    }

    .cartTableHead {
      display: flex;
      justify-content: space-around;
      padding-bottom: 16px;
      border-bottom: 2px solid var(--primary-color);
      text-align: center;

      @media screen and (max-width: $mobile) {
        display: none;
      }
    }

    .itemsInCart {
      display: flex;
      flex-direction: column;

      .productCard {
        border-bottom: 0.5px solid var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 12px 0px;
        gap: 70px;

        @media screen and (max-width: $mobile) {
          gap: 16px;
        }

        .imageContainer {
          width: 15%;

          @media screen and (max-width: $mobile) {
            width: 50%;
          }

          .productImage {
            border-radius: 5px;

            @media screen and (max-width: $mobile) {
              width: 100%;
              height: 160px;
            }
          }
        }

        .infoContainer {
          width: 85%;
          display: flex;
          text-align: center;

          @media screen and (max-width: $mobile) {
            width: 100%;
            gap: 24px;
          }

          .productInfo {
            display: flex;
            text-align: start;
            flex: 2;

            @media screen and (max-width: $mobile) {
              align-items: center;
              justify-content: space-between;
            }

            .productName {
              flex: 1;

              @media screen and (max-width: $mobile) {
                font-size: 1.5rem;
              }
            }

            .productPrice {
              flex: 1;

              @media screen and (max-width: $mobile) {
                text-align: end;
              }
            }
          }

          .productQuantity {
            display: flex;
            flex: 2;
            gap: 24px;

            .productSubtotal {
              flex: 2;

              @media screen and (max-width: $mobile) {
                text-align: end;
              }
            }
          }

          .actionButton {
            flex: 1;

            @media screen and (max-width: $mobile) {
              text-align: end;
            }
          }

          @media screen and (max-width: $mobile) {
            width: 50%;
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }

  .cartTotalContainer {
    display: flex;
    justify-content: flex-end;

    .cartTotalCard {
      background-color: var(--primary-color);
      padding: 32px;
      width: 350px;
      height: 280px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      color: var(--main-bg-color);
      border-radius: 10px;

      @media screen and (max-width: $mobile) {
        width: 100%;
      }

      h3 {
        font-size: 0.9rem;
        text-transform: uppercase;
      }

      .grandTotalAmount {
        font-size: 2.5rem;
      }

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        width: 100%;

        .cartButton {
          width: 100%;
          padding: 8px 0px;
          text-align: center;
          cursor: pointer;
        }

        .continueShoppingButton {
          color: black;
          font-size: 0.8rem;
          background-color: var(--main-bg-color);
          &:hover {
            background-color: var(--primary-color);
            outline: 1px solid var(--main-bg-color);
            color: white;
          }
        }

        .checkoutButton {
          background-color: #1f1f1f;
          color: white;

          &:hover {
            background-color: var(--primary-color);
            outline: 1px solid var(--main-bg-color);
          }
        }
      }
    }
  }
}

// REMOVE ACTION ///////
.removeButton {
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    .removeIcon {
      font-size: 1.25rem;
    }

    &:hover {
      color: var(--primary-color);
    }
  }
}

// COUNTER ACTION ////////
.changeCounter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border: 1px solid var(--secondary-color);
  flex: 1;

  @media screen and (max-width: $mobile) {
    flex: 4;
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
  }
}

// EMPTY CART ////
.emptyCart {
  height: 73vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
