.quantity {
  font-size: 0.8rem;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -30%;
  right: -3%;
}
