.badge {
  font-size: 0.8rem;
  color: white;
  background-color: var(--primary-color);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 12.5%;
  right: 7.5%;
  z-index: 99;
}
