$small: 640px;
$medium: 768px;
$large: 1024px;
$xl: 1280px;
$xxl: 1536px;

.footerSection {
  padding: 24px 150px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  // width: 100%;
  @media screen and (max-width: $xl) {
    margin: 0px 60px;
  }
}

.companyInformation {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 30%;

  .companyContact {
    display: flex;
    flex-direction: column;
    gap: 8px;

    div {
      font-size: 0.75rem;
      display: flex;
      gap: 16px;
    }
  }

  .companySocialLinks {
    display: flex;
    gap: 20px;
    color: var(--primary-color);
  }
}

.mailingList {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    margin-bottom: 16px;
  }

  input {
    height: 40px;
    border: none;
    margin-bottom: 16px;
    outline: none;
    padding-left: 12px;
  }

  button {
    width: 200px;
    height: 40px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.15rem;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      background-color: var(--main-bg-color);
      outline: 1px solid var(--primary-color);
      color: var(--primary-color);
    }
  }
}
