$small: 640px;
$medium: 768px;
$large: 1024px;
$xl: 1280px;
$xxl: 1536px;

.navigationHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 32px 120px;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .leftSide {
      width: 25%;
    }

    .navigationBar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 50%;

      .navigationLinks {
        display: flex;
        gap: 30px;

        .navigationLink {
          pointer-events: all;
          position: relative;
          text-transform: uppercase;

          &:hover {
            color: var(--primary-color);
            // -webkit-text-stroke: 0.5px var(--primary-color);
          }

          &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            border-radius: 4px;
            background-color: var(--primary-color);
            bottom: 0;
            left: 0;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform 0.3s ease-in-out;
          }

          &:hover::before {
            transform-origin: left;
            transform: scaleX(1);
          }
        }
      }

      .cartContainer {
        position: relative;
        width: 25%;

        .cartIcon {
          cursor: pointer;
        }
      }
    }
  }
}
