.productOverviewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;

  h1 {
    font-family: var(--title-font);
  }

  .productOverviewHeader {
    display: flex;
    gap: 48px;
    height: 180px;
    width: 100vw;
    padding: 0px 120px;

    .catergoryLinks {
      width: 25%;
      border: 1px solid var(--primary-color);
      border-radius: 5px;

      h2 {
        background-color: var(--primary-color);
        padding: 8px 24px;
        color: #fff;
        font-family: var(--title-font);
      }
      div {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 8px 24px;
      }
    }

    .categoryImageHeader {
      width: 75%;
      background-image: linear-gradient(
          rgba(34, 34, 34, 0.3),
          rgba(34, 34, 34, 0.3)
        ),
        url(../../public/images/productHeader.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      text-align: center;
      display: flex;
      align-items: center;

      p {
        background-color: #ffffff7c;
        // color: var(--primary-color);
        padding: 8px 0px;
      }
    }
  }
}

.productCardsContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 90px 50px;
}

.productCard {
  width: 200px;
  border-radius: 5px;
  overflow: hidden;

  div {
    padding: 0px 12px 12px 12px;
    display: flex;
    flex-direction: column;

    .categoryTitle {
      text-transform: uppercase;
      font-size: 0.75rem;
      margin-bottom: 10px;
      color: var(--secondary-text-color);
    }

    .productName {
      font-size: 1.15rem;
      margin-bottom: 6px;
    }

    .productPrice {
      font-size: 1.15rem;
      color: var(--primary-color);
    }
  }
}
