@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&family=Poppins:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #faf8f4;
  --primary-color: #a88755;
  --secondary-color: #f3e9e0;

  --primary-text-color: ##1f1f1f;
  --secondary-text-color: #6e6e6d;
}

body {
  background-color: var(--main-bg-color);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: var(--primary-text-color);
}

main {
  padding: 24px 150px;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}
