.navigationHeader {
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 120px;
}

.navigationBar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.navigationLinks {
  display: flex;
  gap: 20px;
  // cursor: pointer;

  .navigationLink {
    pointer-events: all;
    &:hover {
      // cursor: pointer;
      color: var(--primary-color);
    }
  }
}

// HERO SECTION //////////////////////////////////
.heroSection {
  margin-bottom: 94px;

  .heroMainImage {
    width: 100%;
    height: 450px;
  }
}

// ////////////////

.featuredProductsSection {
  display: grid;
  grid-template-columns: 2.5fr 1fr 1fr 1fr;
  gap: 24px;
  margin-bottom: 94px;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h4 {
      font-size: 2rem;
      border-bottom: 2px solid var(--secondary-color);
      margin-bottom: 32px;
      font-family: var(--title-font);
    }

    .viewAllButton {
      padding: 8px 48px;
      background-color: var(--primary-color);
      text-align: center;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      text-transform: uppercase;
      font-size: 0.75rem;

      &:hover {
        background-color: var(--secondary-color);
        outline: 1px solid var(--primary-color);
        color: var(--primary-color);
      }
    }
  }

  .featuredProductImage {
    height: 250px;
    width: 200px;
  }
}

// /////////////////

.collectionSection {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
  margin-bottom: 94px;

  .collectionImageBox {
    position: relative;

    .collectionImage1 {
      height: 300px;
      width: 80%;
      border: 10px solid #fff;
      border-radius: 5px;
    }

    .collectionImage2 {
      position: absolute;
      top: 45%;
      left: 35%;
      width: 200px;
      height: 200px;
      border: 7px solid #fff;
      border-radius: 5px;
    }
  }

  .collectionTextBox {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      font-family: var(--title-font);
      font-size: 4rem;
      font-style: italic;
      font-weight: 400;
    }

    p {
      margin-top: 32px;
      font-size: 1rem;
      line-height: 1.75;
    }

    .learnMoreLink {
      margin-top: 32px;
      color: var(--primary-color);
      text-transform: uppercase;
      display: flex;
      align-items: center;
      gap: 12px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
// ////////////////

.categorySection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 96px;

  h2 {
    font-size: 2rem;
    font-family: var(--title-font);
    margin-bottom: 10px;
  }

  .viewallLink {
    margin-bottom: 32px;
    text-transform: uppercase;
    color: var(--primary-color);
    font-size: 0.9rem;
    letter-spacing: 1.5px;
  }

  .categoryCards {
    display: flex;
    gap: 24px;

    div {
      height: 400px;
      width: 280px;
      background-color: #fff;
    }
  }
}
// ////////////////
.highlightSection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 64px;
  margin-bottom: 64px;

  .highlight {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h6 {
      font-size: 1rem;
      margin-bottom: 16px;
    }

    .highlightIcon {
      height: 50px;
      width: 50px;
      margin-bottom: 8px;
    }

    p {
      font-size: 0.8rem;
    }
  }
}

// ////////////////////
.testimonialsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-bottom: 94px;

  h4 {
    font-size: 1rem;
    font-family: var(--title-font);
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      width: 508px;
      height: 2px;
      background-color: var(--primary-color);
    }

    &::before {
      right: 105%;
    }

    &::after {
      left: 105%;
    }
  }

  .testimonials {
    padding: 64px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 32px;
    text-align: center;

    .testimonialCard {
      display: flex;
      flex-direction: column;
      padding: 0px 32px;

      h6 {
        margin-top: 16px;
        margin-bottom: 8px;
      }
    }
  }
}

// FOOTER SECTION //////////////////////////////////

.footerSection {
  padding: 24px 150px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.companyInformation {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 30%;

  .companyContact {
    display: flex;
    flex-direction: column;
    gap: 8px;

    div {
      font-size: 0.75rem;
      display: flex;
      gap: 16px;
    }
  }

  .companySocialLinks {
    display: flex;
    gap: 20px;
  }
}

.mailingList {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    margin-bottom: 16px;
  }

  input {
    height: 40px;
    border: none;
    margin-bottom: 16px;
    outline: none;
    padding-left: 12px;
  }

  button {
    width: 200px;
    height: 40px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.15rem;
    text-transform: uppercase;
  }
}
