.navigationHeader {
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  padding: 0px 150px;
}

.navigationBar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.navigationLinks {
  display: flex;
  gap: 20px;
}

// HERO SECTION //////////////////////////////////
.heroSection {
  margin-bottom: 94px;

  .heroMainImage {
    width: 100%;
    height: 500px;
  }
}

.featuredProductsSection {
  display: grid;
  grid-template-columns: 2.5fr 1fr 1fr 1fr;
  gap: 24px;
  margin-bottom: 94px;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h4 {
      font-size: 2rem;
      border-bottom: 2px solid var(--secondary-color);
      margin-bottom: 32px;
      font-family: 'Playfair Display', sans-serif;
    }

    .viewAllButton {
      padding: 8px 48px;
      background-color: var(--primary-color);
      text-align: center;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      text-transform: uppercase;
      font-size: 0.75rem;

      &:hover {
        background-color: var(--secondary-color);
        outline: 1px solid var(--primary-color);
        color: var(--primary-color);
      }
    }
  }

  .featuredProductImage {
    height: 250px;
    width: 200px;
  }
}

// FOOTER SECTION //////////////////////////////////

.footerSection {
  padding: 24px 150px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.companyInformation {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 30%;

  .companyContact {
    display: flex;
    flex-direction: column;
    gap: 8px;

    div {
      font-size: 0.75rem;
      display: flex;
      gap: 16px;
    }
  }

  .companySocialLinks {
    display: flex;
    gap: 20px;
  }
}

.mailingList {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h3 {
    margin-bottom: 16px;
  }

  input {
    height: 40px;
    border: none;
    margin-bottom: 16px;
    outline: none;
    padding-left: 12px;
  }

  button {
    width: 200px;
    height: 40px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.15rem;
    text-transform: uppercase;
  }
}
