.quantityForm {
  display: flex;
  gap: 8px;
}

.inputArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.5px solid var(--primary-color);
  width: 150px;
  height: 50px;
  padding: 0px 8px;
}

.button {
  height: 50px;
  width: 490px;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  cursor: pointer;

  &:hover {
    background-color: var(--main-bg-color);
    outline: 1px solid var(--primary-color);
    color: var(--primary-color);
  }
}
