.checkoutContainer {
  display: flex;
  height: 100vh;
  padding: 80px 120px;

  .infoSection {
    flex: 2;

    form {
      display: flex;
      flex-direction: column;
      // padding: 0px 150px;

      p {
        margin-top: 32px;
      }

      input {
        height: 40px;
        width: 500px;
        margin-top: 20px;
        outline: none;
        padding-left: 8px;
      }

      .nameContainer {
        display: flex;
        gap: 20px;
        width: 100%;

        .name {
          height: 40px;
          width: 240px;
        }
      }
      .addressContainer {
        display: flex;
        gap: 20px;
        .city {
          width: 240px;
        }
      }
      .paymentInfo {
        display: flex;
        gap: 20px;

        .threeDigit {
          width: 320px;
        }

        div {
          .expiry {
            width: 80px;
            outline: none;
            text-align: center;
          }
        }
      }

      button {
        width: 500px;
        height: 40px;
        margin-top: 32px;
        background-color: var(--primary-color);
        border: none;
        outline: none;
        color: #fff;
        border-radius: 5px;
        font-size: 0.9rem;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
          background-color: var(--main-bg-color);
          outline: 1px solid var(--primary-color);
          color: var(--primary-color);
        }
      }
    }
  }

  .totalSection {
    flex: 1;
  }
}
