.counterContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.5px solid var(--primary-color);
  width: 150px;
  height: 50px;
  padding: 0px 8px;

  button {
    background-color: transparent;
    font-size: 1.25rem;
    font-weight: 400;
    border: none;
    cursor: pointer;
  }

  span {
    font-size: 2rem;
  }
}

.heroSwiperImages {
  width: 100%;
  height: 450px;
}
