.storyContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
  z-index: -2;

  .header {
    height: 500px;
    width: 100%;
    background-image: linear-gradient(
        rgba(34, 34, 34, 0.3),
        rgba(34, 34, 34, 0.3)
      ),
      url('../../public/images/aboutUs.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;

    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 4rem;
      font-family: var(--title-font);
      color: #fff;
      letter-spacing: 2.5px;
    }
  }

  .aboutSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 16px;
    padding: 0px 120px 60px;

    p {
      font-size: 1.25rem;
      line-height: 1.75;
    }
  }

  .iconsSection {
    padding: 0px 120px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 32px;

    h2 {
      font-size: 2rem;
      font-family: var(--title-font);
    }

    div {
      display: flex;
      gap: 30px;
      text-align: center;

      .icon {
        height: 80px;
        width: 80px;
      }

      div {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        h3 {
          font-family: var(--title-font);
          letter-spacing: 2px;
        }
        p {
          line-height: 1.75;
          font-size: 0.8rem;
        }
      }
    }
  }
}
